<ion-header>
  <ion-toolbar>
    <!-- Nadpis stránky -->
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Karta "O aplikaci" -->
  <ion-card class="about-card">
    <ion-card-header>
      <!-- Nadpis karty -->
      <ion-card-title>About app</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-center">
      <!-- Text popisující aplikaci -->
      This app provides up-to-date weather information and forecasts for
      different cities. You can save your favorite cities and customize the appearance
      the look of the app to your preferences.
    </ion-card-content>
  </ion-card>

  <!-- Karta pro nastavení vzhledu -->
  <ion-card class="settings-card">
    <ion-card-header>
      <!-- Nadpis karty -->
      <ion-card-title>Display settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Nadpis pro segment -->
      <ion-title>Format of upcoming weather</ion-title>
      <ion-item lines="none">
        <!-- Segment pro výběr režimu zobrazení -->
        <ion-segment [(ngModel)]="displayMode" (ionChange)="updateDisplayMode()">
          <ion-segment-button value="days">Days</ion-segment-button>
          <ion-segment-button value="dates">Dates</ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
