<ion-header>
  <ion-toolbar>
    <ion-title>Rozšířená předpověď</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="forecast">
    <ion-item *ngFor="let day of forecast">
      <ion-label>
        <h2>Date: {{ day.date }}</h2>
        <p>Temperature: {{ day.day.avgtemp_c }} °C</p>
        <p>Condition: {{ day.day.condition.text }}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="day.day.condition.icon" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
