<ion-header>
  <ion-toolbar>
    <ion-title>Nastavení</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- O aplikaci -->
  <ion-card class="about-card">
    <ion-card-header>
      <ion-card-title>O aplikaci</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tato aplikace poskytuje aktuální informace o počasí a předpověď pro
      různá města. Můžete ukládat svá oblíbená města a přizpůsobit vzhled
      aplikace podle svých preferencí.
    </ion-card-content>
  </ion-card>

  <!-- Nastavení vzhledu -->
  <ion-card class="settings-card">
    <ion-card-header>
      <ion-card-title>Preference zobrazení</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-title >Formát zobrazení následujích dní</ion-title>
      <ion-item lines="none">
        <ion-segment [(ngModel)]="displayMode" (ionChange)="updateDisplayMode()">
          <ion-segment-button value="days">Dny</ion-segment-button>
          <ion-segment-button value="dates">Datum</ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>